<div class="row">
    <div class="col-md-6 m-auto">
        <div class="container mt-5 pl-5">
            <h2 class="text-center">Login</h2>
            <form action="/login" method="post">
                {{#if loginErr}}
                <p class="error" style="color:red;">{{loginErr}}</p>
                {{/if}}


                <div class="form-group">
                    <lable>Email Address</lable>
                    <input type="email" class="form-control" name="Email" placeholder="Enter Email">
                </div>
                <div class="form-group">
                    <lable>Password</lable>
                    <input type="password" class="form-control" name="Password" placeholder="Password">
                </div>
                <a href="/signup"> Create New Account ?</a>
                <button type="submit" class="btn btn-primary float-right">Login</button>
        </div>
        </form>
    </div>
</div>
</div>