<section>
    <div class="container">
      <div class="row mt-3">
      </div>
      <div class="alert alert-success" role="alert">
  The Untracked Bookings Will Be Displayed Here 
</div>
        <table class="table mt-3">
  <thead>
    <tr>
      <th scope="col">Worker Name</th>
      <th scope="col">Category</th>
      <th scope="col">Place</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        
      <td>{{bookedData.workerName}}</td>
      <td>{{bookedData.category}}</td>
      <td>{{bookedData.place}}</td>
    </tr>
    
  </tbody>
</table>
    </div>
</section>